In [4]:
import pandas as pd
import numpy as np
from scipy import stats

# Read the CSV file
df = pd.read_csv('results_sampling_exp/results_single_prompt.csv')

# Define the sim_score columns
sim_score_columns = ['sim_score_1_to', 'sim_score_2_to', 'sim_score_1_and', 
                     'sim_score_2_and', 'sim_score_1_degree', 'sim_score_2_degree']



# Display the first few rows of the dataframe
print("\nFirst few rows of the dataframe:")
df.head()

First few rows of the dataframe:

,trial_num,country_pair,model_name,temperature,sim_score_1_to,sim_score_2_to,sim_score_1_and,sim_score_2_and,sim_score_1_degree,sim_score_2_degree,sim_diff_to,sim_diff_and,sim_diff_degree
0,1,U.S.A.-Mexico,gpt-4o,0.8,10.0,10.0,10,12,10.0,10.0,0.0,-2,0.0
1,2,U.S.A.-Mexico,gpt-4o,0.8,10.0,10.0,11,15,10.0,12.0,0.0,-4,-2.0
2,3,U.S.A.-Mexico,gpt-4o,0.8,10.0,10.0,10,15,10.0,12.0,0.0,-5,-2.0
3,4,U.S.A.-Mexico,gpt-4o,0.8,12.0,12.0,10,10,7.0,9.0,0.0,0,-2.0
4,5,U.S.A.-Mexico,gpt-4o,0.8,8.0,12.0,12,8,10.0,12.0,-4.0,4,-2.0

In [11]:
# Check for outliers and invalid values
for column in sim_score_columns:
    # Check for values outside the range [0, 20]
    out_of_range = df[(df[column] < 0) | (df[column] > 20)]
    if not out_of_range.empty:
        print(f"Outliers in {column} (outside [0, 20] range):")
        print(out_of_range)
    
    # Check for non-whole numbers
    non_whole = df[df[column] != df[column].round()]
    non_whole = non_whole[non_whole[column] % 1 != 0]  # Exclude numbers like 10.0
    if not non_whole.empty:
        print(f"Non-whole numbers in {column}:")
        print(non_whole)

Non-whole numbers in sim_score_1_to:
       trial_num    country_pair   model_name  temperature  sim_score_1_to  \
9762          62   U.S.A.-Mexico  llama3.2_3B          1.2             NaN
10095         10   U.S.A.-Canada  llama3.2_3B          1.2             NaN
11091          5  U.S.A.-Germany  llama3.2_3B          1.2             NaN
11131         45  U.S.A.-Germany  llama3.2_3B          1.2             NaN
11185         22  U.S.S.R.-Syria  llama3.2_3B          1.2             NaN
11320          3   U.S.A.-Mexico  llama3.2_3B          1.5             NaN

       sim_score_2_to  sim_score_1_and  sim_score_2_and  sim_score_1_degree  \
9762             18.0                8               10                17.0
10095             8.0               15               10                18.0
11091            14.0               10               15                15.0
11131            10.0               15                8                14.0
11185             0.0                0                0              1922.0
11320             0.0               15                4                18.0

       sim_score_2_degree  sim_diff_to  sim_diff_and  sim_diff_degree
9762                 18.0          NaN            -2             -1.0
10095                15.0          NaN             5              3.0
11091                10.0          NaN            -5              5.0
11131                15.0          NaN             7             -1.0
11185                 0.0          NaN             0           1922.0
11320                18.0          NaN            11              0.0
Non-whole numbers in sim_score_2_to:
       trial_num    country_pair   model_name  temperature  sim_score_1_to  \
8036          30  France-Algeria  llama3.2_3B          0.8             2.0
10895         40   U.S.S.R.-Cuba  llama3.2_3B          1.2            12.0
11720         18   U.S.A.-Canada  llama3.2_3B          1.5             0.0
12494         22   U.S.S.R.-Cuba  llama3.2_3B          1.5             0.0
12865          8  France-Algeria  llama3.2_3B          1.5            10.0
12892         35  France-Algeria  llama3.2_3B          1.5             0.0

       sim_score_2_to  sim_score_1_and  sim_score_2_and  sim_score_1_degree  \
8036              NaN                5                6                 3.0
10895             NaN               10                5                12.0
11720             NaN                7               10                16.0
12494             NaN                4                3                 3.0
12865             NaN                0                7                 3.0
12892             NaN               12                1                 1.0

       sim_score_2_degree  sim_diff_to  sim_diff_and  sim_diff_degree
8036                  2.0          NaN            -1              1.0
10895                 3.0          NaN             5              9.0
11720                10.0          NaN            -3              6.0
12494                 5.0          NaN             1             -2.0
12865                 8.0          NaN            -7             -5.0
12892                 4.0          NaN            11             -3.0
Outliers in sim_score_1_and (outside [0, 20] range):
       trial_num        country_pair   model_name  temperature  \
6861          10       U.S.A.-Canada  llama3.2_3B          0.8
6866          15       U.S.A.-Canada  llama3.2_3B          0.8
7239           3  Belgium-Luxembourg  llama3.2_3B          0.8
7251          15  Belgium-Luxembourg  llama3.2_3B          0.8
7278          42  Belgium-Luxembourg  llama3.2_3B          0.8
8482          14       U.S.A.-Canada  llama3.2_3B          1.0
8513          45       U.S.A.-Canada  llama3.2_3B          1.0
8519          51       U.S.A.-Canada  llama3.2_3B          1.0
8531          63       U.S.A.-Canada  llama3.2_3B          1.0
8718          19     Germany-Austria  llama3.2_3B          1.0
8744          45     Germany-Austria  llama3.2_3B          1.0
8760          61     Germany-Austria  llama3.2_3B          1.0
8864          11  Belgium-Luxembourg  llama3.2_3B          1.0
8877          24  Belgium-Luxembourg  llama3.2_3B          1.0
8881          28  Belgium-Luxembourg  llama3.2_3B          1.0
8887          34  Belgium-Luxembourg  llama3.2_3B          1.0
8888          35  Belgium-Luxembourg  llama3.2_3B          1.0
8910          57  Belgium-Luxembourg  llama3.2_3B          1.0
8919          66  Belgium-Luxembourg  llama3.2_3B          1.0
10089          4       U.S.A.-Canada  llama3.2_3B          1.2
10103         18       U.S.A.-Canada  llama3.2_3B          1.2
10105         20       U.S.A.-Canada  llama3.2_3B          1.2
10151         66       U.S.A.-Canada  llama3.2_3B          1.2
10349         33     Germany-Austria  llama3.2_3B          1.2
10363         47     Germany-Austria  llama3.2_3B          1.2
10392         76     Germany-Austria  llama3.2_3B          1.2
10493         23  Belgium-Luxembourg  llama3.2_3B          1.2
10495         25  Belgium-Luxembourg  llama3.2_3B          1.2
10501         31  Belgium-Luxembourg  llama3.2_3B          1.2
10502         32  Belgium-Luxembourg  llama3.2_3B          1.2
10505         35  Belgium-Luxembourg  llama3.2_3B          1.2
10510         40  Belgium-Luxembourg  llama3.2_3B          1.2
10512         42  Belgium-Luxembourg  llama3.2_3B          1.2
10520         50  Belgium-Luxembourg  llama3.2_3B          1.2
10521         51  Belgium-Luxembourg  llama3.2_3B          1.2
10533         63  Belgium-Luxembourg  llama3.2_3B          1.2
10534         64  Belgium-Luxembourg  llama3.2_3B          1.2
10538         68  Belgium-Luxembourg  llama3.2_3B          1.2
11705          3       U.S.A.-Canada  llama3.2_3B          1.5
11717         15       U.S.A.-Canada  llama3.2_3B          1.5
11718         16       U.S.A.-Canada  llama3.2_3B          1.5
11733         31       U.S.A.-Canada  llama3.2_3B          1.5
11738         36       U.S.A.-Canada  llama3.2_3B          1.5
11747         45       U.S.A.-Canada  llama3.2_3B          1.5
11969         36     Germany-Austria  llama3.2_3B          1.5
11978         45     Germany-Austria  llama3.2_3B          1.5
11993         60     Germany-Austria  llama3.2_3B          1.5
12003         70     Germany-Austria  llama3.2_3B          1.5
12101         14  Belgium-Luxembourg  llama3.2_3B          1.5
12103         16  Belgium-Luxembourg  llama3.2_3B          1.5
12104         17  Belgium-Luxembourg  llama3.2_3B          1.5
12119         32  Belgium-Luxembourg  llama3.2_3B          1.5
12125         38  Belgium-Luxembourg  llama3.2_3B          1.5
12144         57  Belgium-Luxembourg  llama3.2_3B          1.5
12152         65  Belgium-Luxembourg  llama3.2_3B          1.5

       sim_score_1_to  sim_score_2_to  sim_score_1_and  sim_score_2_and  \
6861             18.0            10.0               80               10
6866             15.0            18.0               97                7
7239             15.0            16.0               99               14
7251             12.0            14.0               99               15
7278             12.0            16.0               94               16
8482             15.0            15.0               98               19
8513             18.0             5.0               97                9
8519             17.0            15.0               92                9
8531             17.0            10.0               92                4
8718              5.0            15.0               90                3
8744             16.0            15.0               98               10
8760             18.0            10.0               90                8
8864             14.0            14.0               97                0
8877              8.0            12.0               97                8
8881             10.0             8.0               98               19
8887             17.0            13.0               90               12
8888              6.0            14.0               95               15
8910             18.0            18.0               90               10
8919             16.0            15.0               98               18
10089            10.0            15.0               97                6
10103            17.0            10.0               87                6
10105            18.0            15.0               97               18
10151            18.0            10.0               98                8
10349            12.0             8.0               95               15
10363            15.0             6.0               85               16
10392            10.0             8.0               92               15
10493            10.0             6.0               97                4
10495             4.0            10.0               99                7
10501            15.0            14.0               99                5
10502             4.0            10.0               93                8
10505            16.0             6.0               97               14
10510            18.0            10.0               98               16
10512             6.0            16.0               97               16
10520            12.0            15.0               95               15
10521            12.0            14.0               95               10
10533            15.0            12.0               95               15
10534            12.0            15.0               98               12
10538             8.0             5.0               90                0
11705            18.0            17.0               98                1
11717            17.0            12.0               98                9
11718             8.0            15.0               77                8
11733            15.0            10.0               92               10
11738            15.0            18.0               97               15
11747            10.0            16.0               96                5
11969            16.0            10.0               80               18
11978             8.0            16.0               95                4
11993            14.0            12.0               92               15
12003             8.0            10.0               90               13
12101            15.0            18.0               97               15
12103             4.0            12.0               97               92
12104            10.0            10.0               95               14
12119            12.0             8.0               98                8
12125             5.0            18.0               92               16
12144             5.0            15.0               94                5
12152            18.0            10.0               99               95

       sim_score_1_degree  sim_score_2_degree  sim_diff_to  sim_diff_and  \
6861                 18.0                18.0          8.0            70
6866                 18.0                16.0         -3.0            90
7239                 19.0                15.0         -1.0            85
7251                 18.0                14.0         -2.0            84
7278                 18.0                15.0         -4.0            78
8482                 18.0                18.0          0.0            79
8513                 17.0                12.0         13.0            88
8519                 18.0                17.0          2.0            83
8531                 18.0                18.0          7.0            88
8718                 15.0                14.0        -10.0            87
8744                 15.0                17.0          1.0            88
8760                 16.0                18.0          8.0            82
8864                 18.0                15.0          0.0            97
8877                 18.0                16.0         -4.0            89
8881                 16.0                16.0          2.0            79
8887                 16.0                15.0          4.0            78
8888                 18.0                18.0         -8.0            80
8910                 19.0                14.0          0.0            80
8919                 14.0                17.0          1.0            80
10089                18.0                18.0         -5.0            91
10103                18.0                10.0          7.0            81
10105                17.0                15.0          3.0            79
10151                16.0                17.0          8.0            90
10349                17.0                16.0          4.0            80
10363                14.0                17.0          9.0            69
10392                10.0                17.0          2.0            77
10493                19.0                16.0          4.0            93
10495                18.0                14.0         -6.0            92
10501                19.0                18.0          1.0            94
10502                17.0                15.0         -6.0            85
10505                10.0                10.0         10.0            83
10510                17.0                16.0          8.0            82
10512                16.0                17.0        -10.0            81
10520                16.0                18.0         -3.0            80
10521                16.0                18.0         -2.0            85
10533                17.0                12.0          3.0            80
10534                18.0                15.0         -3.0            86
10538                18.0                19.0          3.0            90
11705                18.0                10.0          1.0            97
11717                17.0                14.0          5.0            89
11718                18.0                17.0         -7.0            69
11733                18.0                16.0          5.0            82
11738                18.0                17.0         -3.0            82
11747                17.0                17.0         -6.0            91
11969                18.0                10.0          6.0            62
11978                16.0                12.0         -8.0            91
11993                15.0                17.0          2.0            77
12003                13.0                14.0         -2.0            77
12101                19.0                14.0         -3.0            82
12103                19.0                18.0         -8.0             5
12104                19.0                14.0          0.0            81
12119                17.0                16.0          4.0            90
12125                17.0                14.0        -13.0            76
12144                15.0                18.0        -10.0            89
12152                15.0                15.0          8.0             4

       sim_diff_degree
6861               0.0
6866               2.0
7239               4.0
7251               4.0
7278               3.0
8482               0.0
8513               5.0
8519               1.0
8531               0.0
8718               1.0
8744              -2.0
8760              -2.0
8864               3.0
8877               2.0
8881               0.0
8887               1.0
8888               0.0
8910               5.0
8919              -3.0
10089              0.0
10103              8.0
10105              2.0
10151             -1.0
10349              1.0
10363             -3.0
10392             -7.0
10493              3.0
10495              4.0
10501              1.0
10502              2.0
10505              0.0
10510              1.0
10512             -1.0
10520             -2.0
10521             -2.0
10533              5.0
10534              3.0
10538             -1.0
11705              8.0
11717              3.0
11718              1.0
11733              2.0
11738              1.0
11747              0.0
11969              8.0
11978              4.0
11993             -2.0
12003             -1.0
12101              5.0
12103              1.0
12104              5.0
12119              1.0
12125              3.0
12144             -3.0
12152              0.0
Outliers in sim_score_2_and (outside [0, 20] range):
       trial_num        country_pair   model_name  temperature  \
7253          17  Belgium-Luxembourg  llama3.2_3B          0.8
7281          45  Belgium-Luxembourg  llama3.2_3B          0.8
7284          48  Belgium-Luxembourg  llama3.2_3B          0.8
8774          75     Germany-Austria  llama3.2_3B          1.0
8867          14  Belgium-Luxembourg  llama3.2_3B          1.0
10474          4  Belgium-Luxembourg  llama3.2_3B          1.2
10484         14  Belgium-Luxembourg  llama3.2_3B          1.2
10500         30  Belgium-Luxembourg  llama3.2_3B          1.2
10503         33  Belgium-Luxembourg  llama3.2_3B          1.2
10524         54  Belgium-Luxembourg  llama3.2_3B          1.2
10536         66  Belgium-Luxembourg  llama3.2_3B          1.2
11979         46     Germany-Austria  llama3.2_3B          1.5
11991         58     Germany-Austria  llama3.2_3B          1.5
12090          3  Belgium-Luxembourg  llama3.2_3B          1.5
12092          5  Belgium-Luxembourg  llama3.2_3B          1.5
12096          9  Belgium-Luxembourg  llama3.2_3B          1.5
12103         16  Belgium-Luxembourg  llama3.2_3B          1.5
12139         52  Belgium-Luxembourg  llama3.2_3B          1.5
12152         65  Belgium-Luxembourg  llama3.2_3B          1.5

       sim_score_1_to  sim_score_2_to  sim_score_1_and  sim_score_2_and  \
7253             10.0            17.0                6               92
7281             12.0            10.0                7               92
7284             18.0             6.0               12               88
8774             14.0            18.0               12               90
8867             14.0            15.0               12               92
10474            17.0            10.0               15               92
10484            18.0             6.0                7               80
10500             7.0            12.0               12               88
10503            10.0            10.0               18               88
10524            15.0            15.0                8               88
10536             6.0            13.0                5               92
11979            16.0            15.0                7               90
11991            12.0            18.0               10               90
12090            14.0             9.0               16               80
12092            18.0            10.0               13               92
12096             5.0            16.0               13               90
12103             4.0            12.0               97               92
12139            18.0            17.0                8               90
12152            18.0            10.0               99               95

       sim_score_1_degree  sim_score_2_degree  sim_diff_to  sim_diff_and  \
7253                 15.0                17.0         -7.0           -86
7281                 18.0                19.0          2.0           -85
7284                 18.0                16.0         12.0           -76
8774                 10.0                17.0         -4.0           -78
8867                 18.0                19.0         -1.0           -80
10474                16.0                12.0          7.0           -77
10484                12.0                19.0         12.0           -73
10500                18.0                15.0         -5.0           -76
10503                15.0                18.0          0.0           -70
10524                17.0                18.0          0.0           -80
10536                18.0                17.0         -7.0           -87
11979                18.0                18.0          1.0           -83
11991                13.0                15.0         -6.0           -80

In [12]:
print(len(  out_of_range))
print(len(non_whole))
out_of_range.head(20)
# Calculate mean and std of sim_diff columns

4
18

,trial_num,country_pair,model_name,temperature,sim_score_1_to,sim_score_2_to,sim_score_1_and,sim_score_2_and,sim_score_1_degree,sim_score_2_degree,sim_diff_to,sim_diff_and,sim_diff_degree
6986,58,U.S.S.R.-Israel,llama3.2_3B,0.8,0.0,0.0,2,5,2.0,1922.0,0.0,-3,-1920.0
8117,34,U.S.A.-Mexico,llama3.2_3B,1.0,16.0,18.0,18,18,14.0,64.0,-2.0,0,-50.0
9111,27,India-Sri Lanka,llama3.2_3B,1.0,18.0,15.0,15,7,15.0,22315500.0,3.0,8,-22315485.0
11325,8,U.S.A.-Mexico,llama3.2_3B,1.5,14.0,15.0,8,8,12.0,127575529.0,-1.0,0,-127575517.0

In [13]:
non_whole.head(20)

,trial_num,country_pair,model_name,temperature,sim_score_1_to,sim_score_2_to,sim_score_1_and,sim_score_2_and,sim_score_1_degree,sim_score_2_degree,sim_diff_to,sim_diff_and,sim_diff_degree
6488,22,U.S.A.-Mexico,llama3.2_3B,0.8,18.0,18.0,17,10,18.0,NaN,0.0,7,NaN
7698,77,U.S.S.R.-Cuba,llama3.2_3B,0.8,6.0,4.0,8,5,10.0,NaN,2.0,3,NaN
8107,24,U.S.A.-Mexico,llama3.2_3B,1.0,8.0,16.0,10,4,14.0,NaN,-8.0,6,NaN
8152,69,U.S.A.-Mexico,llama3.2_3B,1.0,14.0,12.0,17,9,15.0,NaN,2.0,8,NaN
9714,14,U.S.A.-Mexico,llama3.2_3B,1.2,17.0,17.0,10,10,16.0,NaN,0.0,0,NaN
9764,64,U.S.A.-Mexico,llama3.2_3B,1.2,17.0,12.0,15,9,18.0,NaN,5.0,6,NaN
10186,24,U.S.S.R.-Israel,llama3.2_3B,1.2,5.0,10.0,8,3,2.0,NaN,-5.0,5,NaN
10490,20,Belgium-Luxembourg,llama3.2_3B,1.2,16.0,14.0,5,8,12.0,NaN,2.0,-3,NaN
10705,4,India-Sri Lanka,llama3.2_3B,1.2,15.0,5.0,18,10,16.0,NaN,10.0,8,NaN
10726,25,India-Sri Lanka,llama3.2_3B,1.2,10.0,10.0,11,6,13.0,NaN,0.0,5,NaN
10915,60,U.S.S.R.-Cuba,llama3.2_3B,1.2,3.0,10.0,10,3,12.0,NaN,-7.0,7,NaN
11353,36,U.S.A.-Mexico,llama3.2_3B,1.5,17.0,18.0,15,14,17.0,NaN,-1.0,1,NaN
11385,68,U.S.A.-Mexico,llama3.2_3B,1.5,16.0,15.0,10,4,15.0,NaN,1.0,6,NaN
12165,1,U.S.A.-U.S.S.R.,llama3.2_3B,1.5,7.0,10.0,4,2,0.0,NaN,-3.0,2,NaN
12234,70,U.S.A.-U.S.S.R.,llama3.2_3B,1.5,0.0,10.0,15,10,2.0,NaN,-10.0,5,NaN
12238,74,U.S.A.-U.S.S.R.,llama3.2_3B,1.5,0.0,18.0,15,0,2.0,NaN,-18.0,15,NaN
12528,56,U.S.S.R.-Cuba,llama3.2_3B,1.5,4.0,12.0,5,10,10.0,NaN,-8.0,-5,NaN
12751,48,U.S.A.-Germany,llama3.2_3B,1.5,10.0,10.0,15,17,10.0,NaN,0.0,-2,NaN

In [14]:
# Filter out non-whole and out of range rows
df_filtered = df.copy()

for column in sim_score_columns:
    # Remove rows with values outside the range [0, 20]
    df_filtered = df_filtered[(df_filtered[column] >= 0) & (df_filtered[column] <= 20)]
    
    # Remove rows with non-whole numbers
    df_filtered = df_filtered[df_filtered[column] == df_filtered[column].round()]

# Print the number of rows removed
print(f"Number of rows in original dataframe: {len(df)}")
print(f"Number of rows in filtered dataframe: {len(df_filtered)}")
print(f"Number of rows removed: {len(df) - len(df_filtered)}")

# Update the dataframe
df = df_filtered

# Display the first few rows of the filtered dataframe
print("\nFirst few rows of the filtered dataframe:")
df.head()

Number of rows in original dataframe: 25006
Number of rows in filtered dataframe: 24876
Number of rows removed: 130

First few rows of the filtered dataframe:

,trial_num,country_pair,model_name,temperature,sim_score_1_to,sim_score_2_to,sim_score_1_and,sim_score_2_and,sim_score_1_degree,sim_score_2_degree,sim_diff_to,sim_diff_and,sim_diff_degree
0,1,U.S.A.-Mexico,gpt-4o,0.8,10.0,10.0,10,12,10.0,10.0,0.0,-2,0.0
1,2,U.S.A.-Mexico,gpt-4o,0.8,10.0,10.0,11,15,10.0,12.0,0.0,-4,-2.0
2,3,U.S.A.-Mexico,gpt-4o,0.8,10.0,10.0,10,15,10.0,12.0,0.0,-5,-2.0
3,4,U.S.A.-Mexico,gpt-4o,0.8,12.0,12.0,10,10,7.0,9.0,0.0,0,-2.0
4,5,U.S.A.-Mexico,gpt-4o,0.8,8.0,12.0,12,8,10.0,12.0,-4.0,4,-2.0

In [15]:


# Calculate mean and std of sim_diff columns
sim_diff_columns = ['sim_diff_to', 'sim_diff_and', 'sim_diff_degree']
sim_diff_mean = df[sim_diff_columns].mean()
sim_diff_std = df[sim_diff_columns].std()

print("Mean of sim_diff columns:")
print(sim_diff_mean)
print("\nStandard deviation of sim_diff columns:")
print(sim_diff_std)

# Calculate std of sim_score columns
sim_score_columns = ['sim_score_1_to', 'sim_score_2_to', 'sim_score_1_and', 
                     'sim_score_2_and', 'sim_score_1_degree', 'sim_score_2_degree']
sim_score_std = df[sim_score_columns].std()

print("\nStandard deviation of sim_score columns:")
print(sim_score_std)

# Perform t-test on sim_diff columns
alpha = 0.05
for column in sim_diff_columns:
    t_statistic, p_value = stats.ttest_1samp(df[column], 0)
    print(f"\nt-test results for {column}:")
    print(f"t-statistic: {t_statistic}")
    print(f"p-value: {p_value}")
    if p_value < alpha:
        print("Reject null hypothesis: The difference is statistically significant.")
    else:
        print("Fail to reject null hypothesis: The difference is not statistically significant.")

Mean of sim_diff columns:
sim_diff_to       -0.088961
sim_diff_and      -0.369111
sim_diff_degree   -0.650185
dtype: float64

Standard deviation of sim_diff columns:
sim_diff_to        4.558392
sim_diff_and       4.926690
sim_diff_degree    3.937175
dtype: float64

Standard deviation of sim_score columns:
sim_score_1_to        5.470683
sim_score_2_to        5.384844
sim_score_1_and       5.492062
sim_score_2_and       5.575216
sim_score_1_degree    5.380551
sim_score_2_degree    5.497656
dtype: float64

t-test results for sim_diff_to:
t-statistic: -3.0780767670474867
p-value: 0.0020856785238212113
Reject null hypothesis: The difference is statistically significant.

t-test results for sim_diff_and:
t-statistic: -11.816579416444636
p-value: 3.9064312685904984e-32
Reject null hypothesis: The difference is statistically significant.

t-test results for sim_diff_degree:
t-statistic: -26.04608781962479
p-value: 1.4189838517566537e-147
Reject null hypothesis: The difference is statistically significant.